[submodule "submodule/lcdtap"]
	path = submodule/lcdtap
	url = git@github.com:shapoco/lcdtap.git
[submodule "submodule/QCBOR"]
	path = submodule/QCBOR
	url = https://github.com/laurencelundblade/QCBOR.git
[submodule "submodule/Pico-PIO-USB"]
	path = submodule/Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB.git
